.room-layout {
  padding: 1rem;
}

.room-title {
  padding: 1rem;
}

.filter-icon {
  float: right;
  margin-top: -3rem;
  margin-right: 1rem;
  cursor: pointer;
}

.table-filter {
  padding: 1rem;
}

tbody + thead {
  display: none;
}
